body.home {

	section.welcome {
		margin: $headerheight 0 0;
		background: $theme-color-five;

		@media screen and (max-width: $smalldevice) {
			margin: 85px 0 0;
		}
	}

	section.info {

		@media screen and (min-width: $mediumdevice) {
			text-align: center;
		}

		.mobile-doctor-list {
			text-align: left;
			border: 1px solid #ddd;
			padding: 20px;
			border-radius: 8px;
			margin: 0 0 30px;

			@media screen and (min-width: $mediumdevice) {
				display: none;
			}

			img {
				display: block;
				margin: 0 0 15px;
			}

			a {
				font-size: 25px;
			}

			ul {
				padding: 0 0 0 20px;
			}
		}
	}
}
